/* -------------------------------------------------------*/
/*           START: Audit line type definitions           */
/* -------------------------------------------------------*/
/* old */

/* used for transfer articulation? */
.defaultLine
{

	color: green;
	font-size: 12px;
}

/* new */

/*
 *
 * Tip:
 *
 * Use the "margin-left" style to indent text.
 *
 *  Example:
 *    .someStyle
 *    {
 *      margin-left: 20px;
 *    }
 *
 */

.auditLineType_00_pageHeader
{
	font-weight: bold;
	font-size: 12px;
}
.auditLineType_01_horizontalSeparator
{
}
.auditLineType_02_columnHeader
{
  font-size: 12px;
}
.auditLineType_03_includeTopText
{
  margin-left: 20px;
  font-style: italic;
  font-size: 12px;
}
.auditLineType_04_includeBottomText
{
  margin-left: 20px;
  font-style: italic;
  font-size: 12px;
}
.auditLineType_05_mailBlockText
{
  font-size: 12px;
}
.auditLineType_06_completionText
{
  font-size: 12px;
}
.auditLineType_07_hText
{
  font-size: 12px;
   font-family: "Courier New", Courier, mono;
   margin-left: 3em;
    white-space: pre;
}
.auditLineType_08_errorText
{
  font-size: 12px;
  color: #FF0000;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.auditLineType_09_blankLine
{
}
.auditLineType_10_okRequirementTitle
{
  color: #009900;
  /*font-weight: bold; */
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.auditLineType_11_noRequirementTitle
{
  	color: #990000;
	font-weight: bold;
	font-size: 12px;
/* font-style: italic;*/
 font-family: Verdana, Arial, Helvetica, sans-serif;
}
.auditLineType_12_okRequirementEarnedLine
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}
.auditLineType_13_noRequirementEarnedLine
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}
.auditLineType_14_okRequirementNeedsLine
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
  /*font-weight: bold:*/
  /*color: #000000;*/
}
.auditLineType_15_noRequirementNeedsLine
{
  font-size: 12px;
 font-style: italic;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}
.auditLineType_16_okSubrequirementTLine
{
	margin-left: 3em;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.auditLineType_17_noSubrequirementTLine
{
	margin-left: 3em;
	font-style: italic;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.auditLineType_18_okSubrequirementVLine
{
	font-style: italic;
	font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
}
.auditLineType_19_noSubrequirementVLine
{
	font-style: italic;
	font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
}
.auditLineType_20_okSubrequirementEarnedLine
{
	margin-left: 3em;
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 white-space: pre;
}
.auditLineType_21_noSubrequirementEarnedLine
{
margin-left: 3em;
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 white-space: pre;
}
.auditLineType_22_okSubrequirementCourses
{
	color: #527AAE;
	font-size: 12px;
	margin-left: 3em;
 font-family: "Courier New", Courier, mono;
 white-space: pre;
}
.auditLineType_23_noSubrequirementCourses
{
	color: #527AAE;
	font-size: 12px;
	margin-left: 3em;
 font-family: "Courier New", Courier, mono;
 white-space: pre;
}
.auditLineType_24_okSubrequirementNeedsSummaryLine
{
margin-left: 3em;
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 white-space: pre;
}
.auditLineType_25_noSubrequirementNeedsSummaryLine
{
margin-left: 3em;
  font-size: 12px;
 font-style: italic;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 white-space: pre;
}
.auditLineType_26_okSubrequirementRejectCourses
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}
.auditLineType_27_noSubrequirementRejectCourses
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}
.auditLineType_28_okSubrequirementAcceptCourses
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}
.auditLineType_29_noSubrequirementAcceptCourses
{
  font-size: 12px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-left: 3em;
 white-space: pre;
}

/* -------------------------------------------------------*/
/*           END: Audit line type definitions             */
/* -------------------------------------------------------*/

/* -------------------------------------------------------*/
/*                general definitions                     */
/* -------------------------------------------------------*/
/* removes borders around linked images
a img {border: none}

/* -------------------------------------------------------*/
/*           audit header definitions                     */
/* -------------------------------------------------------*/
.auditHeaderLabel
{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.auditHeaderText
{
	font-size: 12px;
	color: #000000;
}

.headerTable
{
	width: 770px;
}

.headerMiddle, .headerTop, .headerBottom {
	width: 770px;
}
.headerTop, .headerBottom {
	height: 5px;
}
.headerMiddle {
	background-image: url(./headerMiddle.jpg);
}

.headerTop {
	background-image: url(./headerTop.jpg);
}

.headerBottom {
	background-image: url(./headerBottom.jpg);
}

/* -------------------------------------------------------*/
/*           course cart page definitions                 */
/* -------------------------------------------------------*/
.cartBody
{
	margin-left: 0em;
	margin-right: 0em;
}
.cartError
{
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}

/* -------------------------------------------------------*/
/*           printer friendly page definitions            */
/* -------------------------------------------------------*/
.printFriendlyMainTable
{
	width:: 600px;
}

/* -------------------------------------------------------*/
/*           error page definitions                       */
/* -------------------------------------------------------*/
.dump
{
	font-size: 10px;
	color: #000000;
	background-color: #CCCC99;
}

/* -------------------------------------------------------*/
/*           sub header table definitions                 */
/* -------------------------------------------------------*/
.titleMiddle
{
	font-size: 13px;
	font-weight: bold;
	background-image: url(./titleMiddle.gif);
	height: 25px;
	color: #000000;
}

.titleLeftCorner
{
	font-size: 120%;
	font-weight: bold;
	background-image: url(./titleLeftCorner.gif);
	width: 4px;
	height: 25px;
}

.titleRightCorner
{
	font-size: 120%;
	font-weight: bold;
	background-image: url(./titleRightCorner.gif);
	width: 4px;
	height: 25px;
}

.titleFooter
{
	height: 3px;
}

.titleRightSide
{
/*	background-image: url(./titleRightSide.gif);*/
	width: 4px;
}

.titleLeftSide
{
	width: 4px;
}

.titleSpacer
{
	height: 6px;

}

/* -------------------------------------------------------*/
/*                hyper links                             */
/* -------------------------------------------------------*/

a{}

a:link {
	color: rgb(0, 0, 153);
	font-size: 11px;
}

a:visited {
	font-size: 11px;
}

a:hover {
	color: rgb(0, 96, 255);
	font-size: 11px;
}

a:active {
	color: rgb(255, 0, 102);
	font-size: 11px;
}

/* -------------------------------------------------------*/
/*                common definitions                      */
/* -------------------------------------------------------*/
body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	/* background-color: #E3E3C7; */
    background-color: #FFFFFF;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0em;
	font-size: 12px;
}
#wrapper {
	width: 770px;
	position: relative;
	left: 50%;
	margin-left: -385px;
}

.plainText
{
	font-size: 12px;
}

.columnHeader
{
 	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #CCCC99;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.emphasizedText
{
	font-weight: bold;
}

.importantData
{
	font-size: 12px;
	color: #000000;
	background-color: #CCCC99;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.importantDataCenter
{
	font-size: 12px;
	color: #000000;
	text-align: center;
	background-color: #CCCC99;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.importantDataLeftAlign
{
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	background-color: #CCCC99;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.importantDataRightAlign
{
	font-size: 11px;
	color: #000000;
	text-align: right;
	background-color: #CCCC99;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.rollOverIn
{
	background-color: #F1F1E3;
	font-size: 12px;
}

.altColorRow
{
	background-color: #EFEFC9;
	font-size: 12px;
}

.rollOverOut
{
	background-color: #E3E3C7;
	font-size: 12px;
}
.mainTable
{
	width: 770px;
}

table
{
	border: 0px none;
	border-width: thin;
}

.footer
{
	font-size: 11px;
}

.warning
{
  font-size: 15px;
  color: #FF0000;
}